@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;

}

body{
    margin: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(55.68deg, rgba(88, 190, 246, 0.5) -4.72%, rgba(123, 196, 237, 0) 86.87%), linear-gradient(0deg, rgba(150, 236, 255, 0.5), rgba(150, 236, 255, 0.5)), #FFFFFF;
}

.fondo{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;

}

.calculadora{
    
    width: 390px;
    height: 844px;
    left: calc(50% - 390px/2 + 227px);
    top: calc(50% - 844px/2);

    background: linear-gradient(168.16deg, #424242 0%, rgba(66, 66, 66, 0.4) 99.69%);
    border: 1px solid #424242;
    box-sizing: border-box;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(50px);

    border-radius: 18px;
}

.pantalla{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    height: 40%;
    padding-right: 18px;
}

.num_operaciones{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-style: normal;
    font-weight: 400;
    font-size: 37px;
    line-height: 43px;
    
}

.resultado{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 124px;
    height: 30%;
}

.contenedor_botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;

    color: #FFFFFF;

    margin-top: 40px;
}

.contenedor_botones .button, .operador, .numero{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;

    color: #FFFFFF;

    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 17px 16px; */

    width: 80px;
    height: 76px;

    background: #4E4E4E;
    box-shadow: 0px 1px 50px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    margin-bottom: 17px;
    margin-right: 11px;
}

.boton_inferio{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    /* margin-left: -70px; */
}

.ultimos .ulti1, .ulti2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.but_0 .numero{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 73px;

    width: 169px;
    height: 76px;
    left: 19px;
    top: 411px;

    background: #4E4E4E;
    box-shadow: 0px 1px 50px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    margin-right: 12px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;

    color: #FFFFFF;
}

.igual .operador{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 56px 27px;


    width: 80px;
    height: 170px;
    left: 289px;
    top: 317px;

    background: #56CB95;
    box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.25);
    border-radius: 16px;
}